#objects_div
{
	display:none;
	z-index:10;
	position:absolute;
	border: 5px solid #ffffff;
	background: #b1a37e;
}

#drinks_div
{
	display:none;
	z-index:10;
	position:absolute;
	border:1px solid #cda15f;
	background-color:#787878;
	top:10px;
	left:10px;
}

#drinks_table
{
	border:1px solid black;
}

#drinks_table td
{
	border:1px solid black;
}

#objects_table
{
	border:1px solid black;
}

#objects_table img
{
	border:1px solid black;
	cursor:pointer;
}



#objects_choose_div td:hover,#take_off_div td:hover,#put_on_div  td:hover
{
	background-color:#9fcaf6;
}

#objects_choose_div td,#take_off_div td,#put_on_div td
{
	border-width:1px;
	border-color:#3c84ce;
	border-style:solid;
}

#objects_choose_table td,#take_off_table td,#put_on_table td
{
	cursor:pointer;
}

#objects_choose_div,#take_off_div,#put_on_div
{
	background-color: #d9c4a2;
	display: none;
	position: absolute;
	border-width: 5px;
	border-color: #284e74;
	border-style: solid;
}

#put_on_div
{
	z-index:15;
}



#objects_properties_div
{
	background-color: #a5a4a3;
	width: 200px;
	display: none;
	position: absolute;
	z-index: 20;
	border: 6px solid #838281;
}

#drinks_properties_div
{
	background-color:#e9c07c;
	display:none;
	position: absolute;
	z-index:20;
	border:1px solid #cda15f;
}

#drinked_drinks_list
{
	background-color:#f7d9a7;
	display:none;
	position: absolute;
	left:5px;
	top:5px;
	z-index:5;
	border:1px solid #cda15f;
}

#drinked_drinks_list td
{
	border: 1px solid black;
}


.level_pers
{
	width:40px;
}

.object_info_popup_title
{
	font-weight:bold;
	color:#920000;
}

.object_info_popup_price_sinie
{
	color:#0000ff;
}

.object_info_popup_caption
{
	font-weight:bold;
}

.object_info_title
{
	font-size:9pt;
	font-weight:bold;
}

.object_select_filter_level
{
	width:30px;
}

.stone_selector_img
{
	width:16px;
	height:16px;
}

#mod_choose_div,#zat_choose_div
{
	position:absolute;
	z-index:30;
	border:1px solid #ffffff;
	background-color:#484848;
	display:none;
}

#zatSelectTable {
	width:100%;
}

#modSelectTable td, #zatSelectTable td
{
	border:1px solid #cda15f;
}

#modSelectTable tr:hover, #zatSelectTable tr:hover
{
	border:1px solid #e7e7e7;
	background-color:#e7e7e7;
}

.zat_selector_img
{
	width:25px;
	/*height:25px;*/
	height:auto;
}

.stone_selector_stat_nr:hover
{
	background-color:#d39a45;
	cursor:pointer;
}

#bag_content_div,#all_special_objects_div,#saveLoadDiv
{
	background-color:#e7e7e7;
	border:1px solid #787878;	
	display:none;
	position:absolute;
	z-index:5;
	top:10px;
	left:10px;
}

#bag_content_div td,#all_special_objects_div td
{
	border:1px solid black;
	padding-top:0px;
}

#all_special_objects_div tr:hover,#bag_content_div tr:hover
{
	border:1px solid #cda15f;
	background-color:#e9c07c;
}

#stone_properties_div
{
	background-color:#f7d9a7;
	border:1px solid #cda15f;	
	display:none;
	position:absolute;
}

#stone_properties_div img
{
	width:30px;
	height:30px;
}

#special_objects_div,#drink_create_div,#podkladka_create_div
{
	background-color:#484848;
	border:1px solid black;
	position:absolute;
	top:10px;
	left:10px;
	z-index:5;	
}

.specialObjectImages
{
	cursor:pointer;
}

#drink_create_table img,#drinks_table img
{
	cursor:pointer;
}

#drink_create_table td, #podkladka_create td, #podklCreateRezTable td
{
	border:1px solid #cda15f;
}

.clickable_img, .plantsSelectTd
{
	cursor:pointer;
}

.plantsSelectTd:hover
{
	background-color:#e9c07c;
}

.plantsSelectTr td:hover
{
	background-color:#e9c07c;
}

.drinksUsedDiv a
{
	cursor:pointer;
}

.parameters_class_div
{
	font-size:11pt;
	font-weight:bold;
	font-family: Times, Times New Roman, serif;
}

.armor_td
{
	border:1px solid #976b5d;
	width:35px;
}

#armor_div_1
{
	position:absolute; 
	top: 210px;
	left: 277px;
	text-align: center;
	width: 100px;
}
#armor_div_2
{
	position:absolute; 
	top: 210px;
   left: -140px;
	text-align:center;
}
#mana_div_1,#mana_div_2
{
	color:#000080;
	font-weight:bold;
	font-size:19px;
	position:absolute;
	bottom:257px;
	left:6px;
	top: 370px;
}

#hp_div_1,#hp_div_2
{
	color:#880000;
	font-weight:bold;
	font-size:19px;
	position:absolute;
	bottom:257px;
	right:6px;
	top: 370px;
}

#rating_div_1
{
    color: #800;
    font-weight: bold;
    font-size: 23px;
    position: absolute;
    top: -50px;
    right: -15px;
}
#rating_div_2
{
	color:#800;
	font-weight:bold;
	font-size:23px;
	position:absolute;
	top: -50px;
	right: 200px;
}
.mana_bar
{
	height:264px;
	width:10px;
	position:absolute;
	bottom:0px;
	left:-12px;
}

.mana_drop
{
	position:absolute;
	bottom:267px;
	left:-12px;
}

.hp_bar
{
	height:264px;
	width:10px;
	position:absolute;
	bottom:0px;
	right:-12px;
}

.hp_drop
{
	position:absolute;
	bottom:267px;
	right:-12px;
}

#uron_udac_left_1,#uron_udac_left_2,#uron_udac_right_1,#uron_udac_right_2
{
	color:blue;
	font-weight:bold;
}

#uron_krit_left_1,#uron_krit_left_2,#uron_krit_right_1,#uron_krit_right_2
{
	color:red;
	font-weight:bold;
}

#uron_div_right_1
{
	position: absolute;
    right: -132px;
    top: 90px;
}
#uron_div_right_2
{
	position:absolute;
	left: -125px;
   top: 90px;
}
#uron_div_left_1
{
    position: absolute;
    right: -135px;
    top: -10px;
}
#uron_div_left_2
{
	position:absolute;
	left: -125px;
   top: -10px;
}
#saveLoadTable td
{
	border: 1px solid black;
}

.pointerCursor
{
	cursor:pointer;
}

.statFilterTable
{
	border:1px solid #976b5d;
}

#parameters_filter
{
	display:none;
}

.showHideFilter
{
	color: #560000;
}
.filters_outer_div {
text-align: left;
}
.blg{
	color: white;
    position:absolute;
    top: 75px;
    left: 96px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg1{
	color: white;
    position:absolute;
    top: 100px;
    left: 96px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg2{
	color: white;
    position:absolute;
    top: 124px;
    left: 96px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg3{
	color: white;
    position:absolute;
    top: 146px;
    left: 96px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg4{
	color: white;
    position:absolute;
    top: 170px;
    left: 96px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg5{
	color: white;
    position:absolute;
    top: 192px;
    left: 96px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg6{
	color: white;
    position:absolute;
    top: 75px;
    left: 265px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg7{
	color: white;
    position:absolute;
    top: 100px;
	left: 265px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg8{
	color: white;
    position:absolute;
    top: 124px;
	left: 265px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg9{
	color: white;
    position:absolute;
    top: 146px;
	left: 265px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg10{
	color: white;
    position:absolute;
    top: 170px;
	left: 265px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}
.blg11{
	color: white;
    position:absolute;
    top: 192px;
	left: 265px;
	width: 40px;
	height: 18px;
    background-color: #0010f6;
}.hp12{
	color: #880000;
    position:absolute;
	font-weight: bold;
    font-size: 19px;
    top: 420px;
	left: -170px;
	width: 70px;
	height: 30px;
    background-color: #0010f600;
}.hp13{
	color: #880000;
    position:absolute;
	font-weight: bold;
    font-size: 19px;
    top: 420px;
	left: 810px;
	width: 70px;
	height: 30px;
    background-color: #0010f600;
}.ur14{
	color: white;
    position:absolute;
    top: 100px;
	left: -125px;
	width: 100px;
	height: 18px;
    background-color: #0010f6;
}.ur15{
	color: white;
    position:absolute;
    top: 120px;
	left: -125px;;
	width: 100px;
	height: 18px;
    background-color: #dc0000;
}.ur16{
	color: white;
    position:absolute;
    top: 200px;
	left: -125px;
	width: 100px;
	height: 18px;
    background-color: #0010f6;
}.ur17{
	color: white;
    position:absolute;
    top: 220px;
	left: -125px;
	width: 100px;
	height: 18px;
    background-color: #dc0000;
}.ur18{
	color: white;
    position:absolute;
    top: 100px;
	left: 438px;
	width: 100px;
	height: 18px;
    background-color: #0010f6;
	z-index: 1;
}.ur19{
	color: white;
    position:absolute;
    top: 120px;
	left: 438px;
	width: 100px;
	height: 18px;
    background-color: #ff0606;
	z-index: 1;
}.ur20{
	color: white;
    position:absolute;
    top: 200px;
	left: 438px;
	width: 100px;
	height: 18px;
    background-color: #0010f6;
	z-index: 1;
}.ur21{
	color: white;
    position:absolute;
    top: 220px;
	left: 438px;
	width: 100px;
	height: 18px;
    background-color: #ff0000;
	z-index: 1;
}
.checkbox{
	position:absolute;
    top: 220px;
	left: 438px;
	width: 100px;
	height: 18px;
}
.golova{
	position:absolute;
	left:-200px;
	width: 200px;
	top: 20px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.amulet{
	position:absolute;
	left:-200px;
	width: 200px;
	top: 130px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.korpus{
	position:absolute;
	left:-200px;
	width: 200px;
	top: 255px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.naruchi{
	position:absolute;
	left:-30px;
	width: 200px;
	top: 20px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.perchatki{
	position:absolute;
	left:-30px;
	width: 200px;
	top: 130px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.poyas{
	position:absolute;
	left:-30px;
	width: 200px;
	top: 255px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.orujie{
	position:absolute;
	left:300px;
	width: 200px;
	top: 120px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.shtani{
	position:absolute;
	left: 460px;
	width: 200px;
	top: 120px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.kolcha{
	position:absolute;
	left:490px;
	width: 200px;
	top: 255px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.ponoji{
	position:absolute;
	left:300px;
	width: 200px;
	top: 255px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}
.selectkamni{
	position:absolute;
	left:400px;
	width: 200px;
	top: 20px;
	width: 280px; 
	margin-left: 150px; 
	text-align: left;
}